.App {
  color: #1e293b;
  text-align: center;
}

.icon-style {
  color: #64748b;
  cursor: pointer;
  height: 40px;
  padding-top: 15px;
  width: 40px;
}

.icon-style:hover {
  border-top: 2px solid #22c55e;
  color: #22c55e;
}

.margin-0{
  margin: 0px;
}

.green-color{
  color: #22c55e;
}
